<title>Quid Proto Co</title>
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Roboto|La+Belle+Aurore" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Audiowide|Comfortaa|Lobster|Special+Elite|Barlow+Condensed|Lato|Open+Sans|PT+Sans|Titillium+Web" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" href="/simple-color-picker.css">
<link rel="icon" type="image/png" href="/images/logoWhite.png" />