<header id="navbar" class="item">
    <div class="item header-left">
        <img class="logo" src="/images/logoWhite.png" alt=""/>
        <a class="title" href="/">Quid Proto Co</a>
        <p class="signature">by Justine Barry</p>
    </div>
    <div id="hamburger">&#9776;</div>
    <div id="navContainer" class="item">
        <ul class="item">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/buildtool">Wireframing</a></li>
            <li><a href="/chat">Chat</a></li>
            <li className="last"><a href="/logout">Logout</a></li>
        </ul>
    </div>
</header>