<title>Quid Proto Co</title>
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Roboto|La+Belle+Aurore" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Audiowide|Baloo+Bhaijaan|Comfortaa|Lobster|Patua+One|Righteous|Shrikhand|Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="icon" type="image/png" href="/images/logoWhite.png" />