<header id="navbar" className="item">
    <div className="item header-left">
        <img className="logo" src="/images/logoWhite.png" alt=""/>
        <a className="title" href="#">Quid Proto Co</a>
        <p className="signature">by Justine Barry</p>
    </div>
    <div id="hamburger">&#9776;</div>
    <div id="navContainer" className="item">
        <ul className="item">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/buildtool">Wireframing</a></li>
            <li><a href="/chat">Chat</a></li>
            <!--<li className="last"><a href="/api/logout">Logout</a></li>-->
        </ul>
    </div>
</header>