.topnav {
    align-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    overflow: hidden;
}

.toolbar {
    align-content: left;
    border: 1px solid black;
    overflow: hidden;
}

.toolbar a {
    border: 1px solid black;
    text-align: center;
    padding: 2px 5px;
}

.right {
    float: right;
}

.topnav a {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1 {
    text-align: center;
}

.chat {
    align-content: center;
    align-items: center;
    margin: 0 auto;
}

.chatpage {
    border: 1px solid black;
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.chatArea {
    border: 1px solid black;
    vertical-align: bottom;
}

.messages {
    border: 1px solid black;
}

.messages li:nth-child(even) {
    border: 1px solid black;
    background-color: #dddddd;
}

.inputMessages {
    border: 1px solid black;
    vertical-align: bottom;
}

.mainPage {
    display: inline-block;
    margin: 10px auto;
}

.tools {
    border: 1px solid black;
    width: 15%;
    min-height: 600px;
    float: left;
}

.project {
    border: 1px solid black;
    width: 85%;
    min-width: 1600px;
    min-height: 600px;
}