<!DOCTYPE html>
<html>
<head><% include partials/head %></head>
<body>
    <header id="navbar" class="item">
        <div class="item header-left">
            <img class="logo" src="/images/logoWhite.png" alt=""/>
            <a class="title" href="/">Quid Proto Co</a>
            <p class="signature">by Justine Barry</p>
        </div>
        <div id="navContainer2" class="item">
            <ul class="item">
                <li><a href="/auth/google">Login with Google</a></li>
            </ul>
        </div>
    </header>
    <br><br><br>
    <div class="row">
        <div class="container-large">
            <div class="col col-10 center">
                <h1 class="landHead">Quid Proto Co</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-large">
            <div class="col col-10 center">
                <img src="/images/logoBlack.png" alt=""/>
            </div>
        </div>
    </div>
    <div class="row land">
        <div class="container-large">
            <div class="col col-10 center">
                <h4>Wireframe your product! Work independently or collaboratively!</h4>
            </div>
        </div>
    </div>
    <footer><% include partials/footer %></footer>
</body>
</html>