<!DOCTYPE html>
<html>
<head><%- include('patrials/head') %></head>
<body>
    <header><%- include('partials/header') %></header>
    <footer><%- include('partials/footer') %></footer>
</body>
</html>