<!DOCTYPE html>
<html>
<head><% include partials/head %></head>
<body>
    <header id="navbar" class="item">
        <div class="item header-left">
            <img class="logo" src="/images/logoWhite.png" alt=""/>
            <a class="title" href="/">Quid Proto Co</a>
            <p class="signature">by Justine Barry</p>
        </div>
        <div id="navContainer2" class="item">
            <ul class="item">
                <li className="last"><a href="/auth/google">Login with Google</a></li>
            </ul>
        </div>
    </header>
    <div className="row">
            <div className="container-large">
                <div className="col col-10 center">
                    <h1>Quid Proto Co</h1>
                </div>
            </div>
        </div>
        <div className="row">
            <div className="container-large">
                <div className="col col-10 center">
                    <img src="/images/logoBlack.png" alt=""/>
                </div>
            </div>
        </div>
        <div className="row">
            <div className="container-large">
                <div className="col col-10 center">
                    <h4>Wireframe your product! Work independently or collaboratively!</h4>
                </div>
            </div>
        </div>
    </div>
    <footer><% include partials/footer %></footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="functionality.js"></script>
</html>