@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, p, div, header, footer, button, table, nav, ul, li, label, select, caption, tr, td {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Alegreya Sans SC", sans-serif;
}

h6 {
  font-size: 20px;
}

h5 {
  font-size: 23px;
}

h4 {
  font-size: 26px;
}

h3 {
  font-size: 28px;
}

h2 {
  font-size: 30px;
}

h1 {
  font-size: 36px;
}

.title {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 36px;
  text-decoration: none;
  color: white;
  margin: auto 15px;
  margin-left: 10px;
}

.signature {
  font-family: "La Belle Aurore", cursive;
  font-size: 20px;
}

body {
  background-color: #DDE0DC;
}

header {
  background-color: #5E615D;
  color: white;
}

#navbar ul .active {
  background-color: #919490;
}

#navbar ul .active.last {
  border-bottom-right-radius: 10px;
  -moz-transition: background-color .3s ease-in, background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-in, background-color .3s ease-out;
  transition: background-color .3s ease-in, background-color .3s ease-out;
}

#navbar ul .active.last:hover, #navbar ul .active.last:active {
  background-color: #919490;
}

#navbar ul .last {
  -moz-transition: background-color .3s ease-in, background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-in, background-color .3s ease-out;
  transition: background-color .3s ease-in, background-color .3s ease-out;
}

#navbar ul .last:hover, #navbar ul .last:active {
  background-color: #919490;
  border-bottom-right-radius: 10px;
}

#navbar ul li {
  -moz-transition: background-color .3s ease-in, background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-in, background-color .3s ease-out;
  transition: background-color .3s ease-in, background-color .3s ease-out;
}

#navbar ul li:hover, #navbar ul li:active {
  background-color: #919490;
}

#navbar ul li a {
  color: white;
}

#navbar ul li a:hover, #navbar ul li a:active {
  color: white;
}

button {
  border: 2px solid #a8d7ec;
  color: white;
  text-shadow: 1px 1px 0 black;
  background: #55B0D9;
  background: -webkit-linear-gradient(#55B0D9, #1b5c7a);
  background: linear-gradient(#55B0D9, #1b5c7a);
  display: inline-block;
  text-align: center;
  margin: auto 8px;
  padding: 8px 16px;
  font-size: 16px;
}

button:hover {
  border: 2px solid #a8d7ec;
  color: #eaeaea;
  background: #55B0D9;
  background: -webkit-linear-gradient(#1b5c7a, #55B0D9);
  background: linear-gradient(#1b5c7a, #55B0D9);
}

button:active {
  border: 2px solid #a8d7ec;
  color: #eaeaea;
  background: #55B0D9;
  background: -webkit-linear-gradient(#1b5c7a, #55B0D9);
  background: linear-gradient(#1b5c7a, #55B0D9);
}

.sample {
  margin-top: 30px;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: -1;
}

.striped {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #C4C7C3;
}

h1 code, h4 code {
  padding-right: 5px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 15px;
}

p {
  padding: 10px 20px;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

footer hr {
  border: 0;
  max-width: 1170px;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(68,77,62, 0.95), rgba(0, 0, 0, 0));
}

.tools {
  vertical-align: middle;
}

.toolbarL a {
  background-color: #DDE0DC;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  margin: auto 5px;
}

.editTools {
  flex-direction: row;
}

.toolbarR {
  text-align: right;
}

.toolbarR a {
  background-color: #DDE0DC;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  margin: auto 5px;
}

.antiLeft {
  margin-left: 10px;
}

.antiRight {
  margin-right: 20px;
}

.interact,
#card {
  height: 600px;
  border: 1px solid black;
}

input {
  width: 140px;
  height: 28px;
  font-size: 20px;
}

.chat {
  width: 100%;
  background-color: #DDE0DC;
  height: 550px;
}

.messageBox input,
.messageBox button {
  width: 100%;
  height: 35px;
}

.messageBox button {
  align-self: right;
  padding: 0;
  margin: 0;
  height: 41px;
}

select {
  cursor: pointer;
  height: 32px;
  font-size: 20px;
}

#backColor, #textColor {
  cursor: pointer;
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  height: 30px;
  padding: 0;
  margin: 0;
}

#backColor {
  background-color: white;
}

#textColor {
  background-color: black;
}

#backgroundPicker, #textPicker {
  display: none;
  text-align: center;
  margin: 0 auto;
}

.modal {
  position: absolute;
  left: 50%;
  right: 50%;
  margin: 0 auto;
}

#colors {
  padding-bottom: 10px;
}

.interact {
  flex-direction: row;
}

#card {
  background-color: white;
  text-align: center;
}

#cardTitle {
  min-height: 40px;
  text-transform: capitalize;
  padding: 10px;
}

.item {
  flex: 1;
}

.item2 {
  line-height: 32px;
  flex: 1;
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.editTools {
  flex-direction: row;
}

.editTools form {
  display: inline-block;
}

.editTools div {
  display: inline-block;
}

.editTools p {
  display: inline-block;
}

.editTools select {
  display: inline-block;
}

#navbar {
  display: flex;
  flex-direction: row;
  height: 70px;
  -webkit-box-shadow: 0 10px 15px -6px black;
  -moz-box-shadow: 0 10px 15px -6px black;
  box-shadow: 0 10px 15px -6px black;
}

#navbar .header-left {
  display: flex;
}

#navbar .header-left .logo {
  padding-left: 2%;
  height: 50px;
  margin: auto 2px;
}

#navbar .header-left h1 {
  display: flex;
  align-items: center;
  padding-right: 0px;
}

#navbar .header-left .signature {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 0px;
}

#navbar .header-left .signature strong {
  padding-left: 13px;
}

#navbar #hamburger, #navbar #hamburger2, #navbar #hamburger3, #navbar #hamburger4 {
  display: none;
}

#navbar #navContainer {
  display: flex;
}

#navbar #navContainer ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
}

#navbar #navContainer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 70px;
}

#navbar #navContainer ul li a {
  height: 70px;
  align-items: center;
  margin-top: 50px;
  padding: 10px 20px;
  text-decoration: none;
}

#navHolder {
  display: flex;
  flex-direction: row;
}

.panel {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel.card-top .top-label {
  padding: 10px 5px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #5E615D;
  color: white;
}

.panel.card-bottom .bottom-label {
  padding: 10px 5px;
  border-top: 1px solid transparent;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #5E615D;
  color: white;
}

.card-body {
  padding: 15px;
}

::-webkit-scrollbar {
  width: 12px;
  z-index: 2;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(155, 155, 155, 0.4);
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media all and (max-width: 1100px) {
  #navbar {
    box-shadow: none;
  }
  #navbar #navContainer {
    display: none;
  }
  #navbar #hamburger, #navbar #hamburger2, #navbar #hamburger3, #navbar #hamburger4 {
    display: flex;
    margin-top: 15px;
    margin-right: 20px;
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    cursor: pointer;
  }
  .dropMenu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .dropMenu .first {
    border-top: 1px solid #eee;
  }
  .dropMenu li {
    background-color: #5E615D;
    border-bottom: 1px solid #eee;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    list-style-type: none;
  }
  .dropMenu li:hover {
    cursor: pointer;
    background-color: #919490;
    color: white;
  }
  .dropMenu li a {
    text-decoration: none;
    color: white;
  }
  .dropMenu li a:hover, .dropMenu li a:active {
    color: white;
  }
}

@media all and (max-width: 700px) {
  .signature {
    color: transparent;
    font-size: 1px;
  }
  #img1 {
    width: 101.5%;
    padding: 0;
    margin: 0;
    margin-left: -2.25%;
  }
}

.col {
  display: inline-block;
}

.example {
  border: 1px solid #000;
}

.example p {
  padding: 0px;
  margin: 0px;
}

.container-full {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: auto;
  margin: 0 auto;
}

.container-full .col-1 {
  flex: 1 146px;
}

.container-full .col-2 {
  flex: 1 292px;
}

.container-full .col-3 {
  flex: 1 438px;
}

.container-full .col-4 {
  flex: 1 584px;
}

.container-full .col-5 {
  flex: 1 730px;
}

.container-full .col-6 {
  flex: 1 876px;
}

.container-full .col-7 {
  flex: 1 1022px;
}

.container-full .col-8 {
  flex: 1 1168px;
}

.container-full .col-9 {
  flex: 1 1314px;
}

.container-full .col-10 {
  flex: 1 1460px;
}

.container-large {
  display: flex;
  flex-flow: row wrap;
  width: 80vw;
  height: auto;
  margin: 0 auto;
}

.container-large .col-1 {
  flex: 1 117px;
}

.container-large .col-2 {
  flex: 1 234px;
}

.container-large .col-3 {
  flex: 1 351px;
}

.container-large .col-4 {
  flex: 1 468px;
}

.container-large .col-5 {
  flex: 1 585px;
}

.container-large .col-6 {
  flex: 1 702px;
}

.container-large .col-7 {
  flex: 1 819px;
}

.container-large .col-8 {
  flex: 1 936px;
}

.container-large .col-9 {
  flex: 1 1053px;
}

.container-large .col-10 {
  flex: 1 1170px;
}

.row {
  margin: 30px -10px 30px 0px;
}